body {
  display: grid;
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  background-color: hsl(60, 8%, 10%)
}

button, input {
  font-color: white;
  background-color: white;
}



.btn-div {
  display: grid;
  /* border: 2px solid purple; */
  grid-template-areas: 
  "A B C"
  "D E F"
  "G H I"
  ". . .";
  width: 35%;
  height: 250px;
  top: 80%;
  left: 50%;

  transform: translate(-50%, -50%);
  position: absolute;
  /* margin: 50px; */
  
}


.btn {
  font-family: consolas;
  margin: 3px;
  font-size: 30px;
}

.btn-a {
  height: 40px;
  width: 70px;
  margin: 3px;
}

.input-div {
  position: absolute;
  display: flex;
  margin: 10px;
  top: -20%;
  left: 40%;
  font-size: 50px;
}

.input {
  height: 50px;
  font-size: 30px;
}

.action-div {
  position: absolute;
  display: grid;
  grid-template-areas:
  "."
  "."
  "."
  ".";
  width: 78px;
  height: 250px;


  top: 30%;
  right: 10%;
  height: 250px;



  /* padding: 10px; */
  /* border: 2px solid purple; */
}

/* .test {
  border: 5px solid purple;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);



} */