body {
  background-color: rgb(28, 27, 27);
  color: white;
  font-family: 'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.chat-window-parent {
  border: 3px solid white;
  border-radius: 5px;
  position: fixed;
  display: grid;
  top: 10rem;
  bottom:10rem;
  left: 45rem;
  right: 45rem;

}

.chat-input-bar {
  margin: 5px;
  padding: 5px;
}

/* .chat-input-div {
  
} */

.chat-input {
  color: white;
  background-color: rgba(97, 93, 97, 0.802);

  position: fixed;
  top: 72rem;
  right: 43rem;
  left: 49rem;
  width: 53rem;
  height: 3.5rem;

  font-size: 30px;
  border-radius: 5px;
  margin: 10px;
}

.chat-btn {
  background-color: rgba(174, 73, 174, 0.9);
  color: rgb(220, 218, 218);
  position: fixed;

  top: 72.75rem;
  bottom: 10rem;
  right: 105rem;
  left: 105rem;
  
  height: 3.5rem;
  width: 5rem;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Segoe UI';
}

button:active {
  transform: translateY(2px);
}
