body {
  display: grid;
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  background-image: URL('background.jpeg');
}


button {
  background-color: #384a5d;
}

input {
  background-color: #384a5d;
  color: #d0b79d;
  font-family: consolas;
}

button:hover {
  background-color: #d0b79d;
}


.btn-div {
  position: fixed; 
  display: grid;
  grid-template-areas: 
  "A B C"
  "D E F"
  "G H I"
  ". . .";
  width: 35%;
  height: 250px;
  top: 17rem;
  left: 35rem;

}


.btn {
  font-family: consolas;
  margin: 5px;
  font-size: 30px;
}

.btn-a {
  height: 40px;
  width: 95px;
  font-size: 25px;
}

.input-div {
  position: fixed;
  top: 12rem;
  left: 35rem;
  font-size: 50px;
}

.input {
  height: 50px;
  width: 41rem;
  font-size: 30px;
}

.action-div {
  position: fixed;
  display: grid;
  grid-template-areas:
  "."
  "."
  "."
  ".";
  width: 10%;
  height: 22.2rem;
  top: 11.9rem;
  right: 30rem;
}

.footer {
  color: #d0b79d;
  top: 90%;
  right: 50%;
  position:fixed;
}
