body {
  display: grid;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  background: url(CroppedCopy.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


button {
  background-color: #384a5d;
}

button:hover {
  background-color: #d0b79d;
  color: #384a5d;
}

button:active {
  background-color: #d0b79d8d;
  transform: translateY(4px);
}

.parent-history-div {
  color: #d0b79d;
  font-size: 30px;
}

.history-div {
  position: fixed;
  display: grid;
  top: 10rem;
  bottom: 9rem;
  left: 40rem;
  right: 31rem;
}

.number-btn-div {
  position: fixed; 
  display: grid;
  grid-template-areas: 
  "A B C"
  "D E F"
  "G H I"
  ". . .";
  width: 600px;
  height: 250px;
  top: 25rem;
  left: 40rem;
  right: 40rem;
  bottom: 35rem;
  /* border: 1px solid purple; */

}

.number-btn {
  font-family: consolas;
  margin: 5px;
  font-size: 30px;
  color: #d0b79d;
}

.calculation-div {
  position: fixed;
  top: 20rem;
  bottom: 13rem;
  left: 40rem;
  right: 25rem;
  width: 75%;
  font-size: 50px;
  color: #d0b79d;
}

.action-btn-div {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  position: fixed;
  display: grid;
  grid-template-areas:
  "."
  "."
  "."
  ".";
  width: 30px;
  height: 245.5px;
  top: 25.33rem;
  right: 10rem;
  left: 78rem;
  bottom: 22rem;
}

.action-btn {
  height: 35px;
  width: 95px;
  font-size: 25px;
  color: #d0b79d;
}